{
  "openapi": "3.0.3",
  "info": {
    "title": "GenX CRM Integration API",
    "description": "External integration API for the GenX CRM multi-tenant lead management platform. Provides programmatic access to leads, pipeline stages, assignments, and checklist data. All endpoints are scoped to a single tenant determined by the API key.",
    "version": "1.0.0",
    "contact": {
      "name": "Zunkiree Labs",
      "url": "https://lead-crm.zunkireelabs.com"
    }
  },
  "servers": [
    {
      "url": "https://lead-crm.zunkireelabs.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerApiKey": []
    }
  ],
  "paths": {
    "/api/v1/integrations/crm/leads": {
      "get": {
        "operationId": "listLeads",
        "summary": "List leads",
        "description": "List CRM leads with optional filtering and offset-based pagination. Results are ordered by created_at descending. Only non-deleted leads are returned.",
        "tags": ["Leads"],
        "parameters": [
          {
            "name": "stage_id",
            "in": "query",
            "description": "Filter by pipeline stage UUID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "assigned_to",
            "in": "query",
            "description": "Filter by assigned user UUID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Case-insensitive exact match on email address. Returns 200 with empty array if no leads match. Never returns 404 for empty results.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Case-insensitive search across first_name, last_name, email, phone",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of leads with pagination metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "leads": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/NormalizedLead"
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of matching leads"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        }
                      },
                      "required": ["leads", "total", "limit", "offset"]
                    }
                  }
                },
                "example": {
                  "data": {
                    "leads": [
                      {
                        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "first_name": "John",
                        "last_name": "Doe",
                        "email": "john@example.com",
                        "phone": "+919876543210",
                        "city": "Mumbai",
                        "country": "India",
                        "status": "new",
                        "stage_id": "s1a2b3c4-d5e6-7890-abcd-ef1234567890",
                        "stage_slug": "new",
                        "stage_name": "New",
                        "assigned_to": null,
                        "assigned_name": null,
                        "custom_fields": {},
                        "file_urls": {},
                        "intake_source": "integration",
                        "intake_medium": null,
                        "intake_campaign": null,
                        "preferred_contact_method": null,
                        "is_final": true,
                        "created_at": "2026-02-26T10:30:00.000Z",
                        "updated_at": "2026-02-26T10:30:00.000Z"
                      }
                    ],
                    "total": 1,
                    "limit": 50,
                    "offset": 0
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createLead",
        "summary": "Create a new lead",
        "description": "Create a new lead in the CRM. Supports idempotency via the Idempotency-Key header. Stage is resolved from stage_id, status slug, or tenant default (in that order).",
        "tags": ["Leads"],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key for deduplication. If a lead with this key already exists for the tenant, returns the existing lead with 200 instead of 201.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeadRequest"
              },
              "example": {
                "first_name": "Jane",
                "last_name": "Smith",
                "email": "jane@example.com",
                "phone": "+919876543210",
                "city": "Delhi",
                "country": "India",
                "status": "new",
                "custom_fields": {
                  "course_interested": "BBA"
                },
                "intake_source": "partner_api",
                "intake_campaign": "spring-2026"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NormalizedLead"
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Idempotent duplicate — existing lead returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NormalizedLead"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/integrations/crm/leads/{id}": {
      "get": {
        "operationId": "getLead",
        "summary": "Get a lead by ID",
        "description": "Get a single lead with checklist summary counts.",
        "tags": ["Leads"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead details with checklist summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NormalizedLeadDetail"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "updateLead",
        "summary": "Update a lead",
        "description": "Partial update of lead fields. Supports dual-mode stage resolution: provide status (slug) OR stage_id, not both. Both status and stage_id are auto-resolved when either is provided.",
        "tags": ["Leads"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeadRequest"
              },
              "example": {
                "status": "contacted",
                "assigned_to": "u1a2b3c4-d5e6-7890-abcd-ef1234567890"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NormalizedLead"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/integrations/crm/leads/{id}/assign": {
      "post": {
        "operationId": "assignLead",
        "summary": "Assign lead to a team member",
        "description": "Assign a lead to a user who is a member of the tenant. Supports idempotency via the Idempotency-Key header.",
        "tags": ["Leads"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key for deduplication",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["user_id"],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID of the tenant member to assign"
                  }
                }
              },
              "example": {
                "user_id": "u1a2b3c4-d5e6-7890-abcd-ef1234567890"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead assigned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NormalizedLead"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/integrations/crm/leads/{id}/move-stage": {
      "post": {
        "operationId": "moveLeadStage",
        "summary": "Move lead to another pipeline stage",
        "description": "Move a lead to a different pipeline stage. Cannot move leads from terminal stages. Supports idempotency via the Idempotency-Key header.",
        "tags": ["Leads"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Idempotency key for deduplication",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["stage_id"],
                "properties": {
                  "stage_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Target pipeline stage UUID (must belong to tenant)"
                  }
                }
              },
              "example": {
                "stage_id": "s2a2b3c4-d5e6-7890-abcd-ef1234567890"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead stage updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NormalizedLead"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/integrations/crm/leads/{id}/checklists": {
      "get": {
        "operationId": "getLeadChecklists",
        "summary": "Get lead checklist items",
        "description": "Get all checklist items for a lead, ordered by position ascending.",
        "tags": ["Checklists"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Lead UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of checklist items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChecklistItem"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "c1a2b3c4-d5e6-7890-abcd-ef1234567890",
                      "title": "Verify documents",
                      "is_completed": true,
                      "completed_at": "2026-02-25T10:00:00.000Z",
                      "completed_by": "u1a2b3c4-d5e6-7890-abcd-ef1234567890",
                      "position": 0,
                      "created_at": "2026-02-20T10:30:00.000Z"
                    },
                    {
                      "id": "c2a2b3c4-d5e6-7890-abcd-ef1234567890",
                      "title": "Schedule counseling call",
                      "is_completed": false,
                      "completed_at": null,
                      "completed_by": null,
                      "position": 1,
                      "created_at": "2026-02-20T10:30:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/integrations/crm/stages": {
      "get": {
        "operationId": "listStages",
        "summary": "List pipeline stages",
        "description": "List all pipeline stages for the tenant, ordered by position ascending.",
        "tags": ["Pipeline"],
        "responses": {
          "200": {
            "description": "List of pipeline stages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NormalizedStage"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "s1a2b3c4-d5e6-7890-abcd-ef1234567890",
                      "slug": "new",
                      "name": "New",
                      "position": 0,
                      "color": "#3b82f6",
                      "is_default": true,
                      "is_terminal": false
                    },
                    {
                      "id": "s2a2b3c4-d5e6-7890-abcd-ef1234567890",
                      "slug": "contacted",
                      "name": "Contacted",
                      "position": 2,
                      "color": "#a855f7",
                      "is_default": false,
                      "is_terminal": false
                    },
                    {
                      "id": "s3a2b3c4-d5e6-7890-abcd-ef1234567890",
                      "slug": "enrolled",
                      "name": "Enrolled",
                      "position": 3,
                      "color": "#22c55e",
                      "is_default": false,
                      "is_terminal": true
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/integrations/crm/pipeline": {
      "get": {
        "operationId": "getPipeline",
        "summary": "Get pipeline view",
        "description": "Get the full pipeline view with stages and their grouped leads. All stages are returned even if they have no leads. Leads within each stage are ordered by created_at descending.",
        "tags": ["Pipeline"],
        "responses": {
          "200": {
            "description": "Pipeline view with grouped leads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PipelineGroup"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "stage": {
                        "id": "s1a2b3c4-d5e6-7890-abcd-ef1234567890",
                        "slug": "new",
                        "name": "New",
                        "position": 0,
                        "color": "#3b82f6",
                        "is_default": true,
                        "is_terminal": false
                      },
                      "leads": [
                        {
                          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                          "first_name": "John",
                          "last_name": "Doe",
                          "email": "john@example.com",
                          "phone": null,
                          "city": null,
                          "country": null,
                          "status": "new",
                          "stage_id": "s1a2b3c4-d5e6-7890-abcd-ef1234567890",
                          "stage_slug": "new",
                          "stage_name": "New",
                          "assigned_to": null,
                          "assigned_name": null,
                          "custom_fields": {},
                          "file_urls": {},
                          "intake_source": "integration",
                          "intake_medium": null,
                          "intake_campaign": null,
                          "preferred_contact_method": null,
                          "is_final": true,
                          "created_at": "2026-02-26T10:30:00.000Z",
                          "updated_at": "2026-02-26T10:30:00.000Z"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/integrations/crm/tools": {
      "get": {
        "operationId": "getToolManifest",
        "summary": "Get tool manifest",
        "description": "Get the AI agent tool manifest describing all available integration endpoints. Useful for AI agents and automation platforms to discover operations.",
        "tags": ["Tools"],
        "responses": {
          "200": {
            "description": "Tool manifest",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ToolManifest"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerApiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key in Bearer format. Key format: crm_live_{base64url(32 random bytes)}. Keys are SHA-256 hashed at rest."
      }
    },
    "schemas": {
      "NormalizedLead": {
        "type": "object",
        "required": [
          "id", "first_name", "last_name", "email", "phone", "city", "country",
          "status", "stage_id", "stage_slug", "stage_name", "assigned_to",
          "assigned_name", "custom_fields", "file_urls", "intake_source",
          "intake_medium", "intake_campaign", "preferred_contact_method",
          "is_final", "created_at", "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "first_name": {
            "type": "string",
            "nullable": true
          },
          "last_name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "Pipeline stage slug (e.g., 'new', 'contacted', 'enrolled')"
          },
          "stage_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "stage_slug": {
            "type": "string",
            "nullable": true,
            "description": "Resolved pipeline stage slug"
          },
          "stage_name": {
            "type": "string",
            "nullable": true,
            "description": "Resolved pipeline stage display name"
          },
          "assigned_to": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "assigned_name": {
            "type": "string",
            "nullable": true,
            "description": "Resolved email of assigned user"
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": true,
            "description": "Arbitrary key-value pairs"
          },
          "file_urls": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "File field name to URL mapping"
          },
          "intake_source": {
            "type": "string",
            "nullable": true
          },
          "intake_medium": {
            "type": "string",
            "nullable": true
          },
          "intake_campaign": {
            "type": "string",
            "nullable": true
          },
          "preferred_contact_method": {
            "type": "string",
            "nullable": true
          },
          "is_final": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NormalizedLeadDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NormalizedLead"
          },
          {
            "type": "object",
            "required": ["checklist_total", "checklist_completed"],
            "properties": {
              "checklist_total": {
                "type": "integer",
                "description": "Total number of checklist items"
              },
              "checklist_completed": {
                "type": "integer",
                "description": "Number of completed checklist items"
              }
            }
          }
        ]
      },
      "CreateLeadRequest": {
        "type": "object",
        "required": ["first_name", "email"],
        "properties": {
          "first_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "last_name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "stage_id": {
            "type": "string",
            "format": "uuid",
            "description": "Pipeline stage UUID. Cannot combine with status."
          },
          "status": {
            "type": "string",
            "description": "Pipeline stage slug. Cannot combine with stage_id."
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": true
          },
          "file_urls": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "intake_source": {
            "type": "string",
            "description": "Defaults to 'integration' if not provided"
          },
          "intake_medium": {
            "type": "string"
          },
          "intake_campaign": {
            "type": "string"
          },
          "preferred_contact_method": {
            "type": "string"
          }
        }
      },
      "UpdateLeadRequest": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Pipeline stage slug. Cannot combine with stage_id."
          },
          "stage_id": {
            "type": "string",
            "format": "uuid",
            "description": "Pipeline stage UUID. Cannot combine with status."
          },
          "assigned_to": {
            "type": "string",
            "format": "uuid",
            "description": "Must be a tenant member UUID. Set to null to unassign.",
            "nullable": true
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": true
          },
          "file_urls": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "intake_source": {
            "type": "string"
          },
          "intake_medium": {
            "type": "string"
          },
          "intake_campaign": {
            "type": "string"
          },
          "preferred_contact_method": {
            "type": "string"
          }
        },
        "minProperties": 1
      },
      "NormalizedStage": {
        "type": "object",
        "required": ["id", "slug", "name", "position", "color", "is_default", "is_terminal"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          },
          "color": {
            "type": "string",
            "pattern": "^#[0-9a-fA-F]{6}$"
          },
          "is_default": {
            "type": "boolean"
          },
          "is_terminal": {
            "type": "boolean"
          }
        }
      },
      "PipelineGroup": {
        "type": "object",
        "required": ["stage", "leads"],
        "properties": {
          "stage": {
            "$ref": "#/components/schemas/NormalizedStage"
          },
          "leads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NormalizedLead"
            }
          }
        }
      },
      "ChecklistItem": {
        "type": "object",
        "required": ["id", "title", "is_completed", "completed_at", "completed_by", "position", "created_at"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string",
            "maxLength": 255
          },
          "is_completed": {
            "type": "boolean"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "completed_by": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "position": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ToolManifest": {
        "type": "object",
        "required": ["name", "version", "tools"],
        "properties": {
          "name": {
            "type": "string",
            "example": "Zunkiree CRM"
          },
          "version": {
            "type": "string",
            "example": "1.0"
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["name", "description", "method", "endpoint", "parameters"],
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "method": {
                  "type": "string",
                  "enum": ["GET", "POST", "PATCH"]
                },
                "endpoint": {
                  "type": "string"
                },
                "parameters": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "ApiError": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "UNAUTHORIZED",
                  "FORBIDDEN",
                  "NOT_FOUND",
                  "VALIDATION_ERROR",
                  "CONFLICT",
                  "RATE_LIMITED",
                  "INTERNAL_ERROR",
                  "SERVICE_UNAVAILABLE"
                ]
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "description": "Field-level validation errors. Only present on VALIDATION_ERROR."
              }
            }
          }
        }
      },
      "WebhookPayload": {
        "type": "object",
        "required": ["event", "timestamp", "data"],
        "description": "Webhook payloads never contain tenant_id, integration_key_id, or internal DB identifiers.",
        "properties": {
          "event": {
            "type": "string",
            "description": "Event type (e.g., lead.created, lead.status_changed)"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "type": "object",
            "properties": {
              "lead": {
                "$ref": "#/components/schemas/NormalizedLead"
              },
              "entity_type": {
                "type": "string"
              },
              "entity_id": {
                "type": "string",
                "format": "uuid"
              }
            },
            "required": ["entity_type", "entity_id"]
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication required or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "error": {
                "code": "UNAUTHORIZED",
                "message": "Authentication required"
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Insufficient permissions for this operation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "error": {
                "code": "FORBIDDEN",
                "message": "Insufficient permissions"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "error": {
                "code": "NOT_FOUND",
                "message": "Lead not found"
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validation failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "error": {
                "code": "VALIDATION_ERROR",
                "message": "Validation failed",
                "details": {
                  "first_name": ["first_name is required"],
                  "email": ["email is required"]
                }
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "headers": {
          "Retry-After": {
            "description": "Seconds until the rate limit window resets",
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Limit": {
            "description": "Maximum requests per window",
            "schema": {
              "type": "integer",
              "example": 120
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Remaining requests in current window",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix timestamp when the rate limit window resets",
            "schema": {
              "type": "integer",
              "example": 1709312460
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "error": {
                "code": "RATE_LIMITED",
                "message": "Too many requests"
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "Unexpected server error. All unhandled exceptions return this deterministic JSON response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "error": {
                "code": "INTERNAL_ERROR",
                "message": "Unexpected server error"
              }
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service temporarily unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            },
            "example": {
              "error": {
                "code": "SERVICE_UNAVAILABLE",
                "message": "Service temporarily unavailable"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Leads",
      "description": "Lead management operations"
    },
    {
      "name": "Checklists",
      "description": "Lead checklist operations"
    },
    {
      "name": "Pipeline",
      "description": "Pipeline and stage operations"
    },
    {
      "name": "Tools",
      "description": "AI agent tool manifest"
    }
  ]
}
